<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>NFToshi Explorer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet" type="text/css" />

  <!-- Generic frame setup -->
  <meta property="og:title" content="NFToshi Explorer" />
  <meta property='og:image' content="
    https://cloudflare-ipfs.com/ipfs/bafybeicgkb56vydl3kkcrgox7dpyatrgafxogurp42opjmiocfnwmbftlm/0.png" />
  <meta property="fc:frame" content="vNext" />
  <meta property="fc:frame:image:aspect_ratio" content="1:1" />

  <!-- Current page -->
  <meta property="fc:frame:image" content="<%= tokenImg %>" />
  <meta property="fc:frame:button:1" content="More <%= currentValue %>" />
  <meta property="fc:frame:button:1:action" content="post" />
  <meta property="fc:frame:button:1:target" content="<%= url %>/traits/<%= currentTrait %>/<%= currentValue %>/<%= nextIndex %>" />
  <meta property="fc:frame:button:2" content="<%= currentTrait %>: <%= nextValue %>" />
  <meta property="fc:frame:button:2:action" content="post" />
  <meta property="fc:frame:button:2:target" content="<%= url %>/traits/<%= currentTrait %>/<%= nextValue %>/0" />
  <meta property="fc:frame:button:3" content="Next: <%= newTrait %>" />
  <meta property="fc:frame:button:3:action" content="post" />
  <meta property="fc:frame:button:3:target" content="<%= url %>/traits/<%= newTrait %>/<%= newTraitValue %>/0" />
  <meta property="fc:frame:button:4" content="Opensea" />
  <meta property="fc:frame:button:4:action" content="link" />
  <meta property="fc:frame:button:4:target" content="<%= marketplaceUrl %>" />
</head>

<!-- Fallback content if frame is clicked -->
<body>
  <div class="container text-center">
    <h1 class="display-1">NFToshi Explorer</h1>
    <h3 class="display-3">This is NFToshi #<%= tokenId %></h3>
    <p><a href="<%= marketplaceUrl %>"><img src="<%= tokenImg %>" height="500" width="500"/></a></p>
    <h5 class="display-5"><a href="<%= marketplaceUrl %>">View on Opensea</a></h5>
    <p></p>
    <h3 class="display-3">About this frame</h3>
    <p>This is a Farcaster frame for exploring the NFToshi collection. Cast the URL to this page to use it!</p>
    <p>Make sure to also check out the <a href="https://www.toshithecat.com/nftoshis">official collection homepage</a>.
    </p>
    <p>Made by <a href="https://warpcast.com/ethspresso.eth">Ethspresso</a>. Reach out if you want a frame like this for another collection.</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </div>
</body>

</html>
